.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    // max-width: 1000px;
    background-color: #044F8F;
    // position: absolute;
    // bottom: 0;
    border-top: red solid 5px;
    ul {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}