.cart-product-container {
    display:flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    img {
        height: 64px;
    }
}

.loading {
    background: rgba(175, 22, 22, 0.233);
}